{% extends 'base.html' %}


{% block title %}
    Contact
{% endblock %}

{% block content_title %}
    Contact us!
{% endblock %}


{% block content %}

    <div class="col-md-offset-3 col-md-6">

         <form action="{{ url_for('posts.contact') }}" method="POST">

            {% for field in form %}
                <div class="form-group">
                    {{ field.label(class='control-label') }}
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-dark">Send</button>
        </form>

    </div>

{% endblock %}